html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

body {
  scroll-behavior: smooth;
}

main {
  width: 100%;
  height: 100%;
}

nav {
  width: 100%;
  background: #000;
  height: 80px;
  color: white;
  background: linear-gradient(to right, #0c4b25, #2e7f49, #0c4b25);
}
nav .inner-nav {
  width: 100%;
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
}
nav .inner-nav .mobileMenu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}
nav .inner-nav .mobileMenu .logo {
  width: 200px;
  display: flex;
  justify-content: start;
  align-items: start;
}
nav .inner-nav .mobileMenu .logo img {
  width: 200px;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: cover;
     object-fit: cover;
}
nav .inner-nav .mobileMenu .menuControl {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: transparent;
  border: none;
  font-size: 25px;
  color: white;
  cursor: pointer;
}
nav .inner-nav .menu {
  width: 70%;
  position: fixed;
  height: 100vh;
  background: #938f8f;
  color: white;
  top: 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  right: -100%;
  transition: all 0.5s ease;
  z-index: 111;
}
nav .inner-nav .menu i {
  font-size: 30px;
  color: black;
  cursor: pointer;
}
nav .inner-nav .menu h3 {
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
}
nav .inner-nav .phoneMenu {
  display: none;
}

@media (min-width: 768px) {
  .mobileMenu {
    padding: 10px 40px !important;
  }
}
@media (min-width: 1024px) {
  nav {
    display: flex;
    justify-content: center;
  }
  .menu {
    display: none !important;
  }
  .mobileMenu {
    display: none !important;
  }
  .inner-nav {
    width: 100%;
    justify-content: center !important;
    align-items: center;
    overflow-x: visible !important;
  }
  .inner-nav .phoneMenu {
    width: 100%;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    color: white;
    margin-top: 20px;
  }
  .inner-nav .phoneMenu .phone-logo {
    width: 20%;
    padding: 20px;
  }
  .inner-nav .phoneMenu .phone-logo img {
    width: 100%;
  }
  .inner-nav .phoneMenu .phone-menu {
    display: flex !important;
    justify-content: space-between;
    width: 40%;
  }
  .inner-nav .phoneMenu .phone-menu h3 {
    font-weight: 300;
    font-size: 18px;
    cursor: pointer;
  }
  .inner-nav .phoneMenu .icon {
    width: 20%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
  }
  .inner-nav .phoneMenu .icon i {
    font-size: 25px;
    cursor: pointer;
  }
}
.banner {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #0c4b25, #2e7f49, #0c4b25);
}
.banner .innerBanner {
  width: 100%;
  max-width: 1300px;
  height: auto;
  padding: 0px 20px;
}
.banner .innerBanner .upperdiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 40px;
}
.banner .innerBanner .upperdiv .left-side {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.banner .innerBanner .upperdiv .left-side h2 {
  font-size: 2.5rem;
  font-weight: 500;
}
.banner .innerBanner .upperdiv .left-side p {
  width: 80%;
  font-size: 17px;
  letter-spacing: 0.9px;
}
.banner .innerBanner .upperdiv .right-side {
  width: 80%;
  background-color: white;
  border-radius: 50% 50% 0% 0%;
}
.banner .innerBanner .upperdiv img {
  width: 100%;
  height: auto;
}
.banner .upper-lowerdiv {
  width: 100%;
  background-color: #0a3522;
  display: flex;
  justify-content: center;
  padding: 0px 20px;
}
.banner .upper-lowerdiv .lowerdiv {
  max-width: 1300px;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  padding: 0px 20px;
  overflow-y: auto;
  gap: 40px;
}
.banner .upper-lowerdiv .lowerdiv .lowerdiv_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 20px 0px;
  flex-shrink: 0;
}
.banner .upper-lowerdiv .lowerdiv .lowerdiv_box i {
  font-size: 40px;
  color: white;
}
.banner .upper-lowerdiv .lowerdiv .lowerdiv_box .box-text {
  color: white;
  display: flex;
  align-items: center;
}
.banner .upper-lowerdiv .lowerdiv .lowerdiv_box .box-text h3 {
  font-size: 20px;
  font-weight: 500;
}
.banner .upper-lowerdiv .lowerdiv .lowerdiv_box .box-text p {
  display: none;
}

@media (min-width: 768px) {
  .innerBanner {
    padding: 0px 40px !important;
  }
  .innerBanner .upperdiv {
    display: flex !important;
    flex-direction: row !important;
    gap: 20px;
  }
  .upper-lowerdiv {
    background-color: #0a3522 !important;
    display: flex !important;
    justify-content: center !important;
    padding: 0px 40px !important;
  }
  .upper-lowerdiv .lowerdiv {
    width: 100%;
    display: flex;
    overflow-y: visible !important;
    justify-content: space-between;
    align-items: center;
  }
  .upper-lowerdiv .lowerdiv .lowerdiv_box {
    justify-content: start !important;
    align-items: center !important;
    flex-direction: row !important;
    gap: 15px;
    padding: 20px 0px !important;
  }
  .upper-lowerdiv .lowerdiv .lowerdiv_box .box-text {
    display: flex;
    flex-direction: column;
    justify-content: start !important;
    align-items: start !important;
    gap: 5px;
  }
  .upper-lowerdiv .lowerdiv .lowerdiv_box .box-text p {
    display: block !important;
    width: 80%;
    font-size: 14px;
  }
  .upper-lowerdiv .lowerdiv .lowerdiv_box i {
    font-size: 35px !important;
    padding-left: 5px;
  }
  .upper-lowerdiv .lowerdiv .lowerdiv_box h3 {
    font-size: 18px !important;
  }
}
@media (min-width: 1024px) {
  .innerBanner {
    width: 100%;
  }
  .upperdiv .left-side h2 {
    font-size: 5rem !important;
  }
  .upper-lowerdiv {
    padding: 0px 60px !important;
  }
  .upper-lowerdiv .lowerdiv {
    padding: 0px 30px !important;
  }
  .upper-lowerdiv .lowerdiv .lowerdiv_box {
    width: 32%;
    gap: 20px !important;
  }
  .upper-lowerdiv .lowerdiv .lowerdiv_box i {
    font-size: 100px !important;
  }
  .upper-lowerdiv .lowerdiv .lowerdiv_box .box-text h3 {
    font-size: 25px !important;
    font-weight: 500 !important;
  }
  .upper-lowerdiv .lowerdiv .lowerdiv_box .box-text p {
    font-size: 18px !important;
    width: 100%;
    opacity: 0.8;
  }
}
.main-btn {
  width: 200px;
  padding: 10px 0px;
  border-radius: 30px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: 15px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  position: relative;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.4s ease;
}

.main-btn::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #c26b4d;
  transform: translateX(-100%);
  z-index: -1;
  position: absolute;
  transition: all 0.4s ease;
}

.main-btn:hover::before {
  transform: translateX(0%);
}

.main-btn i {
  font-size: 15px;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  padding: 7px 8px;
  border-radius: 50%;
  background-color: white;
  color: black;
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  width: 100%;
  height: 100%;
}

header {
  background: linear-gradient(to right, #0c4b25, #2e7f49, #0c4b25);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=main.css.map */