@use"./base/typography";
@use"./section/navstyle/nav";
@use"./component/button";
@use"./section/bannerstyle/banner";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    width: 100%;
    height: 100%;
}

header{
    background: linear-gradient(to right,#0c4b25,#2e7f49,#0c4b25);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

