@use"./base/typography";
@use"./section/navstyle/nav";
@use"./section/bannerstyle/banner";
@use"./component/button";
@use"./section/verietystyle/verity";
@use"./section/productsectionstyle/product";
@use"./section/ourstorystyle/ourstory";
@use"./section/aboutstyle/about";
@use"./section/foloowstyl/follow";
@use"./section/footerstyle/footer"