.ourStory {
    width: 100%;
    height: 70%;
    margin-top: 40px;

}

.inner-ourstory {
    width: 100%;
    max-width: 1300px;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 60px;

}

.ourStory-titel {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;


    h2 {
        font-size: 25px;
        color: #0e3324;
    }

    p {
        font-size: 15px;

    }
}

.ourAllstory {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.storyBox {
    display: flex;
    gap: 20px;

    .iconBox {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #0e3324;

        i {
            font-size: 30px;
            color: white;
        }

    }

    .storyText {
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        h2 {
            font-size: 18px;
            color: #0e3324;
            font-weight: 600;
        }

        p {
            font-size: 14px;
            color: gray;
        }
    }
}

@media (min-width: 768px) {
    .ourStory {
        margin-top: 150px;
        height: auto;
        padding: 20px;
    }

    .ourStory .inner-ourstory {
        padding: 0px 40px;
    }

    .ourStory .inner-ourstory .ourStory-titel h2 {
        font-size: 30px;
    }

    .ourStory .inner-ourstory .ourStory-titel p {
        font-size: 20px;
    }

    .ourStory .inner-ourstory .ourAllstory {
        width: 100%;
        flex-direction: row;
    }

    .ourAllstory .storyBox {
        width: 50%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ourStory .storyBox .iconBox {
        width: 80px;
        height: 80px;
    }

    .ourStory .storyBox .iconBox i {
        font-size: 40px;
    }

    .ourAllstory .storyBox .storyText {
        justify-content: center;
        align-items: center;
    }
}

@media (min-width:1024px) {
    .ourStory {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}