.banner {
  width: 100%;
  height: auto;
  background: linear-gradient(to right, #0c4b25, #2e7f49, #0c4b25);

  .innerBanner {
    width: 100%;
    max-width: 1400px;
    height: auto;
    padding: 0px 20px;

    .upperdiv {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
      padding-top: 40px;

      .left-side {
        width: 100%;
        color: white;
        height: 30%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;

        h2 {
          font-size: 2.5rem;
          font-weight: 500;
        }

        p {
          width: 80%;
          font-size: 17px;
          letter-spacing: .9px;
        }
      }

      .right-side {
        width: 100%;
        height: 100%;
        background-color: white;
        border-radius: 50% 50% 0% 0%;

      }

      img {
        width: 100%;
        height: 100%;
      }
    }



  }

  .lowerdiv {
    background-color: #0a3522;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    overflow-y: auto;


    .lowerdiv_box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px 20px;
      flex-shrink: 0;

      i {
        font-size: 50px;
        color: white;
      }

      .box-text {
        color: white;
        display: flex;
        align-items: center;

        h3 {
          font-size: 25px;
          font-weight: 500;
        }

        p {
          display: none;
        }
      }
    }
  }
}