.banner {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #0c4b25, #2e7f49, #0c4b25);
  padding-top: 40px;

  .innerBanner {
    width: 100%;
    max-width: 1300px;
    height: auto;
    padding: 0px 20px;
    padding-top: 30px;

    .upperdiv {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
      padding-top: 40px;

      .left-side {
        width: 100%;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;

        h2 {
          font-size: 2.5rem;
          font-weight: 500;
        }

        p {
          width: 80%;
          font-size: 17px;
          letter-spacing: .9px;
        }
      }

      .right-side {
        width: 80%;
        display: flex;
        justify-content: start;
        align-items: start;
        background-color: white;
        border-radius: 50% 50% 0% 0%;


      }

      img {
        width: 100%;
        height: auto;

      }
    }



  }

  .upper-lowerdiv {
    width: 100%;
    background-color: #0a3522;
    display: flex;
    justify-content: center;
    padding: 0px 20px;

    .lowerdiv {
      max-width: 1300px;
      height: auto;
      display: flex;
      flex-wrap: nowrap;
      padding: 0px 20px;
      overflow-y: auto;
      gap: 40px;



      .lowerdiv_box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding: 20px 0px;
        flex-shrink: 0;

        i {
          font-size: 40px;
          color: white;
        }

        .box-text {
          color: white;
          display: flex;
          align-items: center;

          h3 {
            font-size: 20px;
            font-weight: 500;
          }

          p {
            display: none;
          }
        }
      }
    }
  }


}



@media (min-width:768px) {

  .innerBanner {
    padding: 0px 40px !important;

    .upperdiv {
      display: flex !important;
      flex-direction: row !important;
      gap: 20px;
    }
  }


  .upper-lowerdiv {
    background-color: #0a3522 !important;
    display: flex !important;
    justify-content: center !important;
    padding: 0px 40px !important;

    .lowerdiv {
      width: 100%;
      display: flex;
      overflow-y: visible !important;
      justify-content: space-between;
      align-items: center;


      .lowerdiv_box {
        justify-content: start !important;
        align-items: center !important;
        flex-direction: row !important;
        gap: 15px;
        padding: 20px 0px !important;
      }

      .lowerdiv_box .box-text {
        display: flex;
        flex-direction: column;
        justify-content: start !important;
        align-items: start !important;
        gap: 5px;

        p {
          display: block !important;
          width: 80%;
          font-size: 14px;
        }
      }

      .lowerdiv_box i {
        font-size: 35px !important;
        padding-left: 5px;
      }

      .lowerdiv_box h3 {
        font-size: 18px !important;
      }

    }
  }




}

@media (min-width:1024px) {

  .banner {
    padding-top: 80px;
  }

  .innerBanner {
    width: 100%;
  }

  .upperdiv {
    .left-side {
      h2 {
        font-size: 5rem !important;
      }
    }
  }

  .upper-lowerdiv {
    padding: 0px 60px !important;

    .lowerdiv {
      padding: 0px 30px !important;

      .lowerdiv_box {
        width: 32%;
        gap: 20px !important;

        i {
          font-size: 100px !important;

        }

        .box-text {
          h3 {
            font-size: 25px !important;
            font-weight: 500 !important;
          }

          p {
            font-size: 18px !important;
            width: 100%;
            opacity: 0.8;
          }
        }
      }
    }
  }
}