
.banner{
    width: 100%;
    max-width: 1300px;
    height:auto;
    padding: 0px 30px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .banner-text{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.banner-text h2{
    text-transform: capitalize;
    color: white;
    font-size: 40px;
    font-weight: 500;

}

.banner-text p{
    color: white;
}

}
.bannerImg-div {
  width: 300px;
  height: 450px;
  background: #f5f7f0;
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 0px 20px;
  padding-top: 30px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  overflow: hidden;
    flex-shrink: 0;

  img {
    width: 80%;
    max-width: 70%;
    height: auto;
    object-fit: cover;
  }
}



.lowerbannner{
    width: 100%;
 
    background-color: #0e3425;


    
.three-div{
    width: 100%;
    max-width: 1200px;
    padding: 20px 20px;
    display: flex;
    align-items: center;
     overflow-y: scroll;
     gap: 40px;
   

    .div-one{
        width: 50%;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-right: 1px solid white;
       

    }

    .div-one i{
        font-size: 60px;
        font-weight:100;
    }
    .div-one h3{
        font-size: 20px;
        font-weight: 300;
    }
    .divOne-details{
        display: none;
      }

    .three{
        border: none;
    }
}
}


@media (min-width: 768px) and (max-width: 1023px) {

  .banner{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 0px 60px;
    padding-top: 60px;
  }  

  .banner-text{
    width: 55%;
  }

  .banner .banner-text h2{
    font-size: 40px;
  }

  .bannerImg-div{
    width: 45%;
    padding: 0px 30px;
    padding-top: 100px;
    flex-shrink: 0;

    img{
      width: 200px;
      flex-shrink: 0;
     
    }
  }

  .lowerbannner{

    .three-div{
      overflow-y: visible;

      .div-one{
        width: 30% !important;
      }

      .div-one i{
        font-size: 50px;
        font-weight: 100;
      }

      .div-one h3{
        font-size: 25px;
        font-weight: 300;
      }
      .divOne-details{
        display: none;
      }
    }
  }
}

@media (min-width: 1024px) {
  /* desktop-specific styles */
.banner{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
     padding: 0px 50px;
    padding-top: 80px;

  }  

  .banner-text{
    width: 50%;
  }

  .banner .banner-text h2{
    font-size: 80px;
    font-weight: 600;
  }

  .bannerImg-div{
    width: 40%;
    height: 600px;
    padding: 0px 50px;
    padding-top: 100px;
    flex-shrink: 0;

    img{
      width: 100%;
     height: auto;
      flex-shrink: 0;
     
    }
  }

  .lowerbannner{
    display: flex;
    justify-content: center;
    padding: 20px 20px;
    align-items: center;

    .three-div{
      overflow-y: visible;
      justify-content: space-between;
      
      

      .div-one{
        width: 30% ;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        gap: 30px;
      }

      .div-one i{
        font-size: 60px;
        font-weight: 100;
      }

      .div-one h3{
        font-size: 20px;
        font-weight: 300;
      }
      .divOne-details{
        display: flex;
        font-size: 15px;
        width: 80%;
      }
    }

    .divOne-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    }
  }

}




