nav{
    width: 100%;
    max-width: 1300px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

nav .logo{
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: start;
}

nav .logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav .menu i{
    font-size: 30px;
    color: white;
}
.menu1{
    display: none;
}


@media (min-width: 768px) and (max-width: 1023px) {
    nav{
        padding: 0px 60px;
    }
}


@media (min-width: 1024px) {
  /* desktop-specific styles */
  nav{
    padding: 20px 50px;
  }
  nav .hmbar {
    display: none;
}
.menu1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

 
    .sub-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
.sub-menu h3{
    font-size: 15px;
    font-weight: 200;
    color: white;
}
.sub-menuIcon{
    display: flex;
    gap: 20px;
    color: white;

     i{
        font-size: 20px;
    }
}
}

  
}