nav {
    width: 100%;
    background: #000;
    height: 80px;
    color: white;
    background: linear-gradient(to right, #0c4b25, #2e7f49, #0c4b25);


    .inner-nav {
        width: 100%;
        max-width: 1500px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow-x: hidden;



        .mobileMenu {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 20px;

            img {
                width: 200px;
            }

            .menuControl {
                width: fit-content;
                height: fit-content;
                background: transparent;
                border: none;
                font-size: 25px;
                color: white;
                cursor: pointer;
            }
        }

        .menu {
            width: 70%;
            position: fixed;
            height: 100vh;
            background: #938f8f;
            color: white;
            top: 0px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 20px;
            right: -100%;
            transition: all 0.5s ease;
            z-index: 111;

            i {
                font-size: 30px;
                color: black;
                cursor: pointer;
            }

            h3 {
                font-size: 20px;
                font-weight: 300;
            }
        }

        .phoneMenu {
            display: none;
        }
    }





}

@media (min-width: 1024px) {

    nav {
        display: flex;
        justify-content: center;
    }

    .menu {
        display: none !important;
    }

    .mobileMenu {
        display: none !important;
    }

    .inner-nav {
        width: 100%;
        justify-content: center !important;
        overflow-x: visible !important;
    }

    .phoneMenu {
        display: flex !important;
        color: white;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;

        .phone-logo {
            width: 20%;

            img {
                width: 100%;
            }
        }

        .phone-menu {
            display: flex !important;
            justify-content: space-between;
            width: 40%;

            h3 {
                font-weight: 300;
                font-size: 15px;
            }
        }

        .icon {
            width: 20%;
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 20px;

            i {
                font-size: 25px;
            }

        }
    }

}