.veraity {
    width: 100%;
    height: 60%;
    margin-top: 20px;
    display: flex;
    justify-content: center;

    .veraity-inner {
        width: 100%;
        max-width: 1300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 20px;
        gap: 20px;


        .first-verity {
            width: 100%;
            background-color: #dddddc;
            height: 50%;
            display: flex;
            justify-content: center;
            flex-direction: row;
            padding: 20px 10px;
            border-radius: 20px;
            overflow: hidden;


            .txt-side {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: start;
                gap: 10px;
                padding: 0px 20px;


                h3 {
                    font-size: 13px;
                    font-weight: 400;
                }

                h2 {
                    font-size: 17px;
                    font-weight: 600;
                }

                button {
                    background: transparent;
                    border: none;
                    margin-top: 60px;
                    font-size: 16px;
                    font-weight: 500;
                    border-bottom: 1px solid gray;
                    padding: 5px 0px;
                }

            }

            .img-side {
                width: 50%;
                height: 100%;
                display: flex;
                justify-content: end;
                align-items: end;
                position: relative;

                img {
                    width: 250px;
                    position: absolute;
                    bottom: -70px;
                    right: 10px;
                    left: -30px;
                    transition: all .3s ease;



                }



            }
        }

    }



    .secocnd-verity {
        width: 100%;
        background-color: #dddddc;
        height: 50%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding: 20px 10px;
        border-radius: 20px;
        overflow: hidden;


        .txt-side {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            gap: 10px;
            padding: 0px 20px;


            h3 {
                font-size: 13px;
                font-weight: 400;
            }

            h2 {
                font-size: 17px;
                font-weight: 600;
            }

            button {
                background: transparent;
                border: none;
                margin-top: 60px;
                font-size: 16px;
                font-weight: 500;
                border-bottom: 1px solid gray;
                padding: 5px 0px;
            }

        }

        .img-side {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: end;
            align-items: end;
            position: relative;

            img {
                width: 250px;
                position: absolute;
                bottom: -70px;
                right: 10px;
                left: -30px;


            }
        }
    }
}

@media (min-width: 768px) {
    .veraity {
        height: 50% !important;
    }

    .veraity .veraity-inner {
        flex-direction: row;
        padding: 0px 40px;
        height: 100%;

        .first-verity {
            height: 70%;

            .txt-side {
                width: 70%;
                gap: 20px;

                h3 {
                    font-size: 17px;
                }

                h2 {
                    font-size: 23px;
                }

                button {
                    margin-top: 120px;
                }
            }

            .img-side {
                height: 100%;

                img {
                    width: 300px;
                    left: -90px;
                }

            }
        }

        .secocnd-verity {
            height: 70%;

            .txt-side {
                width: 70%;
                gap: 20px;

                h3 {
                    font-size: 17px;
                }

                h2 {
                    font-size: 23px;
                }

                button {
                    margin-top: 120px;
                }
            }

            .img-side {
                height: 100%;

                img {
                    width: 300px;
                    left: -90px;
                }

            }


        }
    }
}

@media (min-width:1024px) {
    .veraity {
        height: 60%;
        margin-top: 50px;
    }

    .veraity .veraity-inner .first-verity {
        height: 80%;

        .txt-side {
            width: 50%;

            h3 {
                font-size: 20px;
                font-weight: 200;
            }

            h2 {
                font-size: 50px;
                font-weight: 500;
            }

            button {
                font-size: 18px;
                margin-top: 40px;

            }


        }

        .img-side img {
            width: 400px;
            bottom: -90px;
            left: -100px;
        }


    }

    .veraity .veraity-inner .secocnd-verity {
        height: 80%;



        .txt-side {
            width: 50%;

            h3 {
                font-size: 20px;
                font-weight: 200;
            }

            h2 {
                font-size: 50px;
                font-weight: 500;
            }

            button {
                font-size: 18px;
                margin-top: 40px;

            }
        }

        .img-side img {
            width: 400px;
            bottom: -90px;
            left: -100px;
        }


    }
}