.aboutDiv {
    width: 100%;
    padding: 0px 20px;



}

.inner-about {

    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    background-color: #dddddb;
}

.about-leftSide {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;

    img {
        width: 100%;
    }
}

.about-rightSide {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 20px;
    padding-bottom: 30px;

    h3 {
        color: #345646;
    }

    p {
        font-size: 15px;
        color: gray;
        line-height: 22px;
    }

    .cube {
        border: 1px solid black;
        color: black;
    }
}

@media (min-width: 768px) {
    .aboutDiv {
        margin-top: 60px;
        padding: 20px 60px;
    }

    .aboutDiv .inner-about {
        flex-direction: row;
        justify-content: center;
        align-self: center;

    }

    .aboutDiv .inner-about .about-leftSide {
        width: 50%;
        justify-content: center;
        align-items: center;
        border-radius: 0px;

    }

    .aboutDiv .inner-about .about-leftSide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px 0px 0px 20px !important;
    }

    .aboutDiv .inner-about .about-rightSide {
        width: 50%;
        padding: 30px 30px;
    }

}

@media (min-width:1024px) {
    .aboutDiv {
        display: flex;
        justify-content: center;
        padding: 0px 100px;
        align-items: center;
    }

    .aboutDiv .inner-about .about-rightSide {
        justify-content: center;
    }

    .aboutDiv .inner-about .about-rightSide h3 {
        font-size: 40px;
    }

    .aboutDiv .inner-about .about-rightSide p {
        font-size: 17px;
    }

}